* {

margin: 0;
padding: 0;
}

.aboutContainer {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
margin-bottom: 100px

}

.collapseAbout {

width: 70%;
height: auto;
margin: 30px auto 0;
}

@media only screen and (max-width: 450px) {

.collapseAbout {

width: 85%;
}

}