.homeCard {

    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    width: 95%;
    background: #e3e3e3;
    border-radius: 25px;
    
}
    
    .homeCardContainer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    }


