.section {

position: absolute;
width: 1240px;
height: 829px;
left: 100px;
top: 437px;
border-radius: 25px;
background: #F7F7F7;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.card {

width: 340px;
height: 340px;
border-radius: 10px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin: 32px;
background: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(0,0,0,0.5)100%);
background: #FF6060;
}

.img {

width: 340px;
height:340px;
object-fit: cover;

}

.title {

position: absolute;
width: 300px;
height: 52px;
font-family: "Montserrat";
font-weight: 500;
font-size: 18px;
line-height: 25.67px;
color: #FFFFFF;
/* or 26px */
display: flex;
align-items: flex-end;
}