.cardSection {

position: absolute;
width: 1240px;
height: 829px;
left: 100px;
top: 437px;
border-radius: 25px;
background: #F7F7F7;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.cardImg {

width: 340px;
height:340px;
object-fit: cover;
border-radius: 10px;

}

.cardTitle {

position: absolute;
width: 300px;
height: 52px;
font-family: "Montserrat";
font-weight: 500;
font-size: 18px;
line-height: 25.67px;
color: #FFFFFF;
/* or 26px */
display: flex;
align-items: flex-end;
}