


.cardContainer {

width: 340px;
height: 340px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-bottom: 32px;



}

.cardImg {

width: 340px;
height:340px;
object-fit: cover;

position: absolute;
border-radius: 10px;

}

.cardTitle {

position: relative;
width: 310px;
padding-left: 16px;
padding-top: 280px;
overflow-wrap: break-word;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25.67px;
color: #FFFFFF;
}