.collapseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.collapseTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #ff6060;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 20px 10px;
    height: 47px;
    font-size: 24px;
}

.collapseArrow {

transform: rotate(0deg);
transition: all 0.2s;
}
.collapseArrowOpen {

transform: rotate(180deg);
transition: all 0.2s;
}

.collapseContent {

background-color: #f6f6f6;
color: #ff6060;
font-weight: 400;
border-radius: 0 0 5px 5px;
width: 100%;
margin-bottom: 15px;
padding: 20px 10px;
font-size: 24px;
}
.collapseContent ul {
    list-style-type: none;
}

/******************Media Queries***************/

@media all and (max-width: 768px) {
    .collapseTitle {
        height: 30px;
        font-size: 13px;
        font-weight: 500;
    }

    .collapseArrow .collapseArrowOpen {
        width: 15px;
        height: 9px;
    }
    .collapseContent {
        font-size: 12px;
        font-weight: 400;
    }
    
}





