.collapseContainer {

width: 100%;
padding-right: 4rem;

}

.collapseTitle {

width: auto;
height: 47px;
border-radius: 5px;
background: #ff6060;
margin-top: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem 1rem 0rem 1rem;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
color: #ffffff;

}


.collapseArrow {

transform: rotate(0deg);
transition: all 0.2s;
}
.collapseArrowOpen {

transform: rotate(180deg);
transition: all 0.2s;
}

.collapseContent {

background: #f7f7f7;
border-radius: 5px;
font-family: "Montserrat";
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
color: #ff6060;
padding: 1rem 2rem 1rem 2rem;
width: auto;

}