.errorPage {

width: 1440px;
height: 1024px;
color: white;
}

.errorNumber {

width: 597px;
height: 263px;
font-family: "Montserrat";
font-weight: 700;
font-size: 288px;
line-height: 410.69px;
text-align: center;
color: #FF6060;
display: flex;
align-items: center;
}

.errorText {

width: 872px;
height: 51px;
font-family: "Montserrat";
font-weight: 500;
font-size: 36px;
line-height: 51.34px;
color: #FF6060;
display: flex;
align-items: flex-end;
}

.errorBacklink {

width: 284px;
height: 26px;
font-family: "Montserrat";
font-weight: 500;
font-size: 18px;
line-height: 25.67px;
color: #FF6060;
display: flex;
align-items: flex-end;
text-decoration: underline;
}